<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Okosotthon vezérlő rendszer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Okosotthon vezérlő</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
		<div class="row">
		            <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Fűtés</h5>
                                <p>123</p>
							</div>
                        </div>
                    </div>
					<div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Riasztás</h5>
                                <p>
<form id="riaszto" name="riaszto" method="post">
<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="riaszt" name="riaszt" onChange="this.form.submit()">
		<label class="custom-control-label" for="riaszt">Riasztás bekapcsolása</label>
</div>
</form>
</p>
							</div>
                        </div>
                    </div>
					<div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lámpa1</h5>
                                <p>
								<form id="lamp1" name="lamp1" method="post">
<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="lampa1" name="lampa1" onChange='submit();'>
		<label class="custom-control-label" for="lampa1">Lámpa felkapcsolása</label>
</div>
</form></p>
							</div>
                        </div>
                    </div>
					<div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lámpa2</h5>
                                <p>
								<form id="lamp2" name="lamp2" method="post">
						<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="lampa2" name="lampa2">
		<label class="custom-control-label" for="lampa2">Lámpa felkapcsolása</label>
</div>
</form></p>
							</div>
                        </div>
                    </div>
      </div>

    </main><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-3.4.1.slim.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
